body {
  width: 90%;
  color: #4c4f7e;
  margin: 0 auto;
  background-color: rgba(6, 40, 104, 0.2);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.card{
  width: 30%;
  margin: 1%;
  display: flex;
  justify-content: center;

}
.title {
  margin: 2% 1%;
  color: coral
}
h2,
p {
  line-height: 10px;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 5px;
  background: #4c4f7e;
  margin-right: 20px;
  border: 3px solid coral;
}
.card {
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid coral;
}
.card:hover {
  border: 2px solid #4c4f7e;
  background: #4c4f7e;
  color: #fff;
}
#search-field {
  position: absolute;
  top: 5%;
  left: 74%;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  border: 2px solid coral;
  background-color: inherit;
}
#search-field:focus {
  background-color: #fff;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(109, 109, 109, 0.7);
}
.modal-close {
  position: absolute;
  width: 20px;
  left: 85%;
  padding: 20px;
}
.modal {
  width: 30%;
  height: 60%;
  margin: 5% auto;
  position: relative;
  text-align: center;
  background: #d3d3d3;
  border: 2px solid coral;
  border-radius: 10px;
  padding: 1%;
}
h2,
p {
  text-transform: capitalize;
}
.email {
  text-transform: lowercase;
}
.leftPrev {
  left: 0.5em;
  top: 30%;
  cursor: pointer;
  position: absolute;
  font-size: 2.5em;
  text-decoration: none;
  color: #666666c4;
}
.rightNext {
  right: 0.5em;
  top: 30%;
  cursor: pointer;
  position: absolute;
  font-size: 2.5em;
  text-decoration: none;
  color: rgba(102, 102, 102, 0.7);
}
#leftArrow {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 30px;
}
#rightArrow {
  position: absolute;
  top: 40%;
  left: 90%;
  width: 30px;
}
.phone {
  margin-top: 10%;
}

.city {
  margin-bottom: 10%;
}
hr {
  border: 1px solid #ff7f50;
}